<div class="AR-Form border p-4 mb-3">
    <h6>{{index}}</h6>
    <div class= "Academic_Record_Info1">
        <div class="row gx-5 my-1">
            <div class="col-sm-3">
                <div class="row g-2">
                    <div class="col-auto">
                        <label for="schoolYearInput" class="col-form-label">SY:</label>
                    </div>
                    <div class="col">
                        <input type="text" name="schoolYearInput" class="form-control" id="schoolYearInput" placeholder=""
                            aria-label="SY">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row g-2">
                    <div class="col-auto">
                        <label for="sectionInput" class="col-form-label">SECTION:</label>
                    </div>
                    <div class="col">
                        <input type="text" name="sectionInput" class="form-control" id="sectionInput" placeholder=""
                            aria-label="Section">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Academic_Info2">
        <div class="row gx-5 my-1">
            <div class="col-sm-3">
                <div class="row g-2">
                    <div class="col-auto">
                        <label for="adviserInput" class="col-form-label">ADVISER:</label>
                    </div>
                    <div class="col">
                        <input type="text" name="adviserInput" class="form-control" id="adviserInput" placeholder=""
                            aria-label="Adviser">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row g-2">
                    <div class="col-auto">
                        <label for="careerInput" class="col-form-label">CAREER INTEREST:</label>
                    </div>
                    <div class="col">
                        <input type="text" name="careerInput" class="form-control" id="careerInput" placeholder=""
                            aria-label="Career">
                    </div>
                </div>
            </div>
        </div>
    </div>    

    <div class="d-flex flex-column h-100 w-100 justify-content-center align-item-center">
        <div class="container-fluid">
            <div class="row mt-3 table-header-cr">
                <div class="col-3 border border-gray p-2">
                    <span>Subject</span>
                </div>
                <div class="col-1 border border-gray p-2">
                    <span>1st</span>
                </div>
                <div class="col-1 border border-gray p-2">
                    <span>2nd</span>
                </div>
                <div class="col-1 border border-gray p-2">
                    <span>3rd</span>
                </div>
                <div class="col-1 border border-gray p-2">
                    <span>4th</span>
                </div>
                <div class="col-1 border border-gray p-2">
                    <span>FG</span>
                </div>
            </div>
        </div>

        {{!-- SUBJECT INPUTS --}}

        <div class="row mx-half mb-0 input-group-custom-cr">
            <div class="col-3 border border-gray p-2">
                <span>Christian Living</span>
            </div>
            <div class="col-1 px-0">
                <input name="1st_grade_CL" type="text" class="form-control rounded-0 border border-gray"
                    placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="2nd_grade_CL" type="text"
                    class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="3rd_grade_CL" type="text" class="form-control rounded-0 border border-gray"
                    placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="4th_grade_CL" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="full_grade_CL" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
        </div>

        <div class="row mx-half mb-0 input-group-custom-cr">
            <div class="col-3 border border-gray p-2">
                <span>English</span>
            </div>
            <div class="col-1 px-0">
                <input name="1st_grade_ENG" type="text" class="form-control rounded-0 border border-gray"
                    placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="2nd_grade_ENG" type="text"
                    class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="3rd_grade_ENG" type="text" class="form-control rounded-0 border border-gray"
                    placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="4th_grade_ENG" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="full_grade_ENG" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
        </div>

        <div class="row mx-half mb-0 input-group-custom-cr">
            <div class="col-3 border border-gray p-2">
                <span>Filipino</span>
            </div>
            <div class="col-1 px-0">
                <input name="1st_grade_FIL" type="text" class="form-control rounded-0 border border-gray"
                    placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="2nd_grade_FIL" type="text"
                    class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="3rd_grade_FIL" type="text" class="form-control rounded-0 border border-gray"
                    placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="4th_grade_FIL" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="full_grade_FIL" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
        </div>

        <div class="row mx-half mb-0 input-group-custom-cr">
            <div class="col-3 border border-gray p-2">
                <span>Mathematics</span>
            </div>
            <div class="col-1 px-0">
                <input name="1st_grade_MATH" type="text" class="form-control rounded-0 border border-gray"
                    placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="2nd_grade_MATH" type="text"
                    class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="3rd_grade_MATH" type="text" class="form-control rounded-0 border border-gray"
                    placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="4th_grade_MATH" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="full_grade_MATH" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
        </div>

        <div class="row mx-half mb-0 input-group-custom-cr">
            <div class="col-3 border border-gray p-2">
                <span>Science</span>
            </div>
            <div class="col-1 px-0">
                <input name="1st_grade_SCI" type="text" class="form-control rounded-0 border border-gray"
                    placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="2nd_grade_SCI" type="text"
                    class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="3rd_grade_SCI" type="text" class="form-control rounded-0 border border-gray"
                    placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="4th_grade_SCI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="full_grade_SCI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
        </div>

        <div class="row mx-half mb-0 input-group-custom-cr">
            <div class="col-3 border border-gray p-2">
                <span>Aaraling Panlipunan</span>
            </div>
            <div class="col-1 px-0">
                <input name="1st_grade_AP" type="text" class="form-control rounded-0 border border-gray"
                    placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="2nd_grade_AP" type="text"
                    class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="3rd_grade_AP" type="text" class="form-control rounded-0 border border-gray"
                    placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="4th_grade_AP" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="full_grade_AP" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
        </div>

        <div class="row mx-half mb-0 input-group-custom-cr">
            <div class="col-3 border border-gray p-2">
                <span>Computer</span>
            </div>
            <div class="col-1 px-0">
                <input name="1st_grade_COMP" type="text" class="form-control rounded-0 border border-gray"
                    placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="2nd_grade_COMP" type="text"
                    class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="3rd_grade_COMP" type="text" class="form-control rounded-0 border border-gray"
                    placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="4th_grade_COMP" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="full_grade_COMP" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
        </div>

        <div class="row mx-half mb-0 input-group-custom-cr">
            <div class="col-3 border border-gray p-2">
                <span>Livelihood Ed</span>
            </div>
            <div class="col-1 px-0">
                <input name="1st_grade_LE" type="text" class="form-control rounded-0 border border-gray"
                    placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="2nd_grade_LE" type="text"
                    class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="3rd_grade_LE" type="text" class="form-control rounded-0 border border-gray"
                    placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="4th_grade_LE" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="full_grade_LE" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
        </div>

        <div class="row mx-half mb-0 input-group-custom-cr">
            <div class="col-3 border border-gray p-2">
                <span>Music</span>
            </div>
            <div class="col-1 px-0">
                <input name="1st_grade_MUS" type="text" class="form-control rounded-0 border border-gray"
                    placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="2nd_grade_MUS" type="text"
                    class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="3rd_grade_MUS" type="text" class="form-control rounded-0 border border-gray"
                    placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="4th_grade_MUS" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="full_grade_MUS" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
        </div>

        <div class="row mx-half mb-0 input-group-custom-cr">
            <div class="col-3 border border-gray p-2">
                <span>Arts</span>
            </div>
            <div class="col-1 px-0">
                <input name="1st_grade_ART" type="text" class="form-control rounded-0 border border-gray"
                    placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="2nd_grade_ART" type="text"
                    class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="3rd_grade_ART" type="text" class="form-control rounded-0 border border-gray"
                    placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="4th_grade_ART" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="full_grade_ART" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
        </div>

        <div class="row mx-half mb-0 input-group-custom-cr">
            <div class="col-3 border border-gray p-2">
                <span>PE</span>
            </div>
            <div class="col-1 px-0">
                <input name="1st_grade_PE" type="text" class="form-control rounded-0 border border-gray"
                    placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="2nd_grade_PE" type="text"
                    class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="3rd_grade_PE" type="text" class="form-control rounded-0 border border-gray"
                    placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="4th_grade_PE" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="full_grade_PE" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
        </div>

        <div class="row mx-half mb-0 input-group-custom-cr">
            <div class="col-3 border border-gray p-2">
                <span>Health</span>
            </div>
            <div class="col-1 px-0">
                <input name="1st_grade_HLT" type="text" class="form-control rounded-0 border border-gray"
                    placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="2nd_grade_HLT" type="text"
                    class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="3rd_grade_HLT" type="text" class="form-control rounded-0 border border-gray"
                    placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="4th_grade_HLT" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
            <div class="col-1 px-0">
                <input name="full_grade_HLT" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
            </div>
        </div>
        

    </div>


</div>
