<div class= "Academic_Record_Info1">
    <div class="row gx-5 my-1">
        <div class="col-sm-3">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="schoolYearInput" class="col-form-label">SY:</label>
                </div>
                <div class="col">
                    <input type="text" name="schoolYearInput" class="form-control" id="schoolYearInput" placeholder=""
                        aria-label="SY">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="sectionInput" class="col-form-label">SECTION:</label>
                </div>
                <div class="col">
                    <input type="text" name="sectionInput" class="form-control" id="sectionInput" placeholder=""
                        aria-label="Section">
                </div>
            </div>
        </div>
    </div>

    <div class="Academic_Info2">
        <div class="row gx-5 my-1">
            <div class="col-sm-3">
                <div class="row g-2">
                    <div class="col-auto">
                        <label for="adviserInput" class="col-form-label">ADVISER:</label>
                    </div>
                    <div class="col">
                        <input type="text" name="adviserInput" class="form-control" id="adviserInput" placeholder=""
                            aria-label="Adviser">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row g-2">
                    <div class="col-auto">
                        <label for="careerInput" class="col-form-label">CAREER INTEREST:</label>
                    </div>
                    <div class="col">
                        <input type="text" name="careerInput" class="form-control" id="careerInput" placeholder=""
                            aria-label="Career">
                    </div>
                </div>
            </div>
        </div>
    </div>    
        
    <div class="container-fluid">
        <div class="row mt-3 table-header-cr">
            <div class="col-3 border border-gray p-2">
                <span>Subject</span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>1st</span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>2nd</span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>3rd</span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>4th</span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>FG</span>
            </div>
        </div>
    </div>
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-3 border border-gray p-2">
            <span>Christian Living</span>
        </div>
        <div class="col-1 px-0">
            <input required name="1st_grade" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input required name="2nd_grade" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="3rd_grade" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="4th_grade" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="full_grade" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
    {{!-- <!-- Grade 8 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 8</span>
        </div>
        <div class="col-2 px-0">
            <input required name="grade8_date" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade8_test-administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade8_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade8_C.A." type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade8_IQ/SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade8_%SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade8_stanine" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade8_remarks" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
    <!-- Grade 9 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 9</span>
        </div>
        <div class="col-2 px-0">
            <input required name="grade9_date" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade9_test-administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade9_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade9_C.A." type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade9_IQ/SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade9_%SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade9_stanine" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade9_remarks" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
    <!-- Grade 10 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 10</span>
        </div>
        <div class="col-2 px-0">
            <input required name="grade10_date" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade10_test-administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade10_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade10_C.A." type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade10_IQ/SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade10_%SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade10_stanine" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade10_remarks" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>
    <!-- Grade 11 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 11</span>
        </div>
        <div class="col-2 px-0">
            <input required name="grade11_date" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade11_test-administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade11_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade11_C.A." type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade11_IQ/SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade11_%SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade11_stanine" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade11_remarks" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>
    <!-- Grade 12 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 12</span>
        </div>
        <div class="col-2 px-0">
            <input required name="grade12_date" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade12_test-administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade12_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade12_C.A." type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade12_IQ/SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade12_%SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade12_stanine" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade12_remarks" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>
</div>
     --}}