{{!-- Grade List Partial for Admin_Student --}}

{{#if current}}
{{!-- GRADE LEVEL ACTIVE ON PAGE --}}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">{{label}}</a>
    </li>

{{!-- GRADE LEVEL NOT ACTIVE ON PAGE --}}
    {{else}}
        <li class="nav-item">
            <a class="nav-link" href="#">{{label}}</a>
        </li>
</li>
{{/if}}