{{#if message.isSuccess }}
<div class="alert">
    <h4 class="alert-heading text-success fw-bold">Success</h4>
    {{ message.content }}
</div>

{{else}}
<div class="alert">
    <h4 class="alert-heading text-danger fw-bold">Error</h4>
    {{ message.content }}
</div>
{{/if}}

{{!-- #ffcc00 --}}
