<nav class="navbar p-3 mb-5">
    <div class="container-fluid">
        <a class="navbar-brand fw-bolder fs-2" href="#">
            {{userRole}}
        </a>

        <ul class="topbar-links nav">
            <li class="nav-item">
                <a class="nav-link px-4">Students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-4">Users</a>
            </li>
        </ul>
    </div>
</nav>
