{{!-- Navbar Partial for Admin_Student, Admin_User--}}

<nav id="navbar" class="navbar p-3 mb-5">
        <div class="container-fluid">
            <a class="navbar-brand fw-bolder fs-2" href="#">Admin</a>
            <ul id="topbar-links" class="nav">

              {{#if student_page}}
                <li class="nav-item">
                    <a href="/admin/students" id="student-link"
                    class="nav-link fs-5 px-4 border border-3 border-end-0 border-top-0 border-bottom-0 fw-bold"><u>Students</u></a>
                </li>
                {{else}}
                  <li class="nav-item">
                    <a href="/admin/students" id="student-link"
                    class="nav-link fs-5 px-4 border border-3 border-end-0 border-top-0 border-bottom-0">Students</a>
                  </li>
                {{/if}}

              {{#if user_page}}
                <li class="nav-item">
                    <a href="/admin/users" id="user-link"
                    class="nav-link fs-5 px-4 border border-3 border-end-0 border-top-0 border-bottom-0 fw-bold"><u>Users</u></a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a href="/admin/users" id="user-link"
                    class="nav-link fs-5 px-4 border border-3 border-end-0 border-top-0 border-bottom-0">Users</a>
                </li>
                {{/if}}
                <li class="nav-item">
                    <a href="/logout" id="logout-link" 
                    class="nav-link fs-5 px-4 border border-3 border-end-0 border-top-0 border-bottom-0 fw-bold">Logout</a>
                </li>
            </ul>


        </div>
    </nav>


{{!-- <nav class="navbar navbar-expand-lg navbar-light p-3 mb-5">
        <div class="container-fluid">
          <a class="navbar-brand fw-bolder fs-2" href="#">{{title}}</a>
          <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse fw-bold justify-content-end px-4" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active px-2 my-2 border border-3 border-end-0 border-top-0 border-bottom-0" href="#">Students</a>
              <a class="nav-link px-2 my-2 border border-3 border-end-0 border-top-0 border-bottom-0" href="#">Users</a>
            </div>
          </div>
        </div>
</nav> --}}