<div class= "Ability_Intelligence Test">
    <h5>3. Personality Test</h5>
    <div class="container-fluid">
        <div class="row mt-3 table-header-cr">
            <div class="col-2 border border-gray p-2">
                <span>Grade & Section</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Test Administered </span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Date <br> 
                </span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Traits</span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>Raw Score</span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>Stern Score</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Remarks</span>
            </div>
    
        </div>
    </div>
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 px-0">
            <input  name="grade_section_1_gs" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input  name="test_administered_1_gs" type="text"class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="date_1_gs" type="date" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="traits_1_gs" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="rawscore_1_gs" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="sternscore_1_gs" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="remarks_1_gs" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 px-0">
            <input  name="grade_section_2_gs" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input  name="test_administered_2_gs" type="text"class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="date_2_gs" type="date" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="traits_2_gs" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="rawscore_2_gs" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="sternscore_2_gs" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="remarks_2_gs" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>

    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 px-0">
            <input  name="grade_section_3_gs" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input  name="test_administered_3_gs" type="text"class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="date_3_gs" type="date" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="traits_3_gs" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="rawscore_3_gs" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="sternscore_3_gs" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="remarks_3_gs" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>


    
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 px-0">
            <input  name="grade_section_4_gs" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input  name="test_administered_4_gs" type="text"class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="date_4_gs" type="date" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="traits_4_gs" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="rawscore_4_gs" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="sternscore_4_gs" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="remarks_4_gs" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
  
  
</div>
    