<div class="RecordOfTestResults_Achievement_Test_1">
    <h5>2. Achievement Test</h5>
    <div class="row g-3">
        <div class="col-sm-6">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="cityInput" class="col-form-label">TYPE OF TEST:</label>
                </div>
                <div class="col">
                    <input type="text" name="test_type_AI_test" class="form-control" id="cityInput" placeholder=""
                        aria-label="City">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="stateInput" class="col-form-label">DATE:</label>
                </div>
                <div class="col">
                    <input type="text" name="date_AI_test" class="form-control" id="stateInput" placeholder=""
                        aria-label="State">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="zipInput" class="col-form-label">GRADE LEVEL:</label>
                </div>
                <div class="col">
                    <input type="text" name="grade_level_AI_test" class="form-control" id="zipInput" placeholder=""
                        aria-label="Zip">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-3 table-header-cr">
            <div class="col-2 border border-gray p-2">
                <span>Subject</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Raw Score</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Scaled Score</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>%ile</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Stanine</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Remarks</span>
            </div>
        </div>
    </div>

    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Reading</span>
        </div>
        <div class="col-2 px-0">
            <input required name="reading_rawscore_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="reading_scaledscore_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="reading_%ile_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="reading_stanine_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="reading_remarks_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Language</span>
        </div>
        <div class="col-2 px-0">
            <input required name="language_rawscore_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="language_scaledscore_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="language_%ile_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="language_stanine_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="language_remarks_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>English</span>
        </div>
        <div class="col-2 px-0">
            <input required name="english_rawscore_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="english_scaledscore_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="english_%ile_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="english_stanine_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="english_remarks_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>


    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Filipino</span>
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_rawscore_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_scaledscore_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_%ile_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_stanine_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_remarks_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>


    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Mathematics</span>
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_rawscore_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_scaledscore_1" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_%ile_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_stanine_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_remarks_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>

    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Science</span>
        </div>
        <div class="col-2 px-0">
            <input required name="science_rawscore_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="science_scaledscore_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="science_%ile_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="science_stanine_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="science_remarks_1" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>


    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Araling Panlipunan</span>
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_rawscore_1" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_scaledscore_1" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_%ile_1" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_stanine_1" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_remarks_1" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
</div>
<div class="RecordOfTestResults_Achievement_Test_2">
    <br><br>
    <div class="row g-3">
        <div class="col-sm-6">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="cityInput" class="col-form-label">TYPE OF TEST:</label>
                </div>
                <div class="col">
                    <input type="text" name="test_type_AI_test" class="form-control" id="cityInput" placeholder=""
                        aria-label="City">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="stateInput" class="col-form-label">DATE:</label>
                </div>
                <div class="col">
                    <input type="text" name="date_AI_test" class="form-control" id="stateInput" placeholder=""
                        aria-label="State">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="zipInput" class="col-form-label">GRADE LEVEL:</label>
                </div>
                <div class="col">
                    <input type="text" name="grade_level_AI_test" class="form-control" id="zipInput" placeholder=""
                        aria-label="Zip">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-3 table-header-cr">
            <div class="col-2 border border-gray p-2">
                <span>Subject</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Raw Score</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Scaled Score</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>%ile</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Stanine</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Remarks</span>
            </div>
        </div>
    </div>

    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Reading</span>
        </div>
        <div class="col-2 px-0">
            <input required name="reading_rawscore_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="reading_scaledscore_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="reading_%ile_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="reading_stanine_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="reading_remarks_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Language</span>
        </div>
        <div class="col-2 px-0">
            <input required name="language_rawscore_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="language_scaledscore_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="language_%ile_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="language_stanine_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="language_remarks_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>English</span>
        </div>
        <div class="col-2 px-0">
            <input required name="english_rawscore_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="english_scaledscore_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="english_%ile_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="english_stanine_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="english_remarks_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>

    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Filipino</span>
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_rawscore_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_scaledscore_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_%ile_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_stanine_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_remarks_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>

    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Mathematics</span>
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_rawscore_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_scaledscore_2" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_%ile_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_stanine_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_remarks_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>

    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Science</span>
        </div>
        <div class="col-2 px-0">
            <input required name="science_rawscore_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="science_scaledscore_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="science_%ile_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="science_stanine_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="science_remarks_2" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>

    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Araling Panlipunan</span>
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_rawscore_2" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_scaledscore_2" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_%ile_2" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_stanine_2" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_remarks_2" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
</div>
<div class="RecordOfTestResults_Achievement_Test_3">
    <br><br>
    <div class="row g-3">
        <div class="col-sm-6">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="cityInput" class="col-form-label">TYPE OF TEST:</label>
                </div>
                <div class="col">
                    <input type="text" name="test_type_AI_test" class="form-control" id="cityInput" placeholder=""
                        aria-label="City">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="stateInput" class="col-form-label">DATE:</label>
                </div>
                <div class="col">
                    <input type="text" name="date_AI_test" class="form-control" id="stateInput" placeholder=""
                        aria-label="State">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="zipInput" class="col-form-label">GRADE LEVEL:</label>
                </div>
                <div class="col">
                    <input type="text" name="grade_level_AI_test" class="form-control" id="zipInput" placeholder=""
                        aria-label="Zip">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-3 table-header-cr">
            <div class="col-2 border border-gray p-2">
                <span>Subject</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Raw Score</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Scaled Score</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>%ile</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Stanine</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Remarks</span>
            </div>
        </div>
    </div>

    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Reading</span>
        </div>
        <div class="col-2 px-0">
            <input required name="reading_rawscore_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="reading_scaledscore_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="reading_%ile_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="reading_stanine_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="reading_remarks_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Language</span>
        </div>
        <div class="col-2 px-0">
            <input required name="language_rawscore_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="language_scaledscore_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="language_%ile_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="language_stanine_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="language_remarks_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>English</span>
        </div>
        <div class="col-2 px-0">
            <input required name="english_rawscore_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="english_scaledscore_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="english_%ile_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="english_stanine_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="english_remarks_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>

    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Filipino</span>
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_rawscore_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_scaledscore_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_stanine_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_remarks_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>

    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Mathematics</span>
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_rawscore_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_scaledscore_3" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_%ile_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_stanine_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_remarks_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>

    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Science</span>
        </div>
        <div class="col-2 px-0">
            <input required name="science_rawscore_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="science_scaledscore_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="science_%ile_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="science_stanine_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="science_remarks_3" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>

    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Araling Panlipunan</span>
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_rawscore_3" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_scaledscore_3" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_%ile_3" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_stanine_3" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_remarks_3" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
</div>



<div class="RecordOfTestResults_Achievement_Test_4">
    <br><br>
        <div class="row g-3">
        <div class="col-sm-6">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="cityInput" class="col-form-label">TYPE OF TEST:</label>
                </div>
                <div class="col">
                    <input type="text" name="test_type_AI_test" class="form-control" id="cityInput" placeholder=""
                        aria-label="City">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="stateInput" class="col-form-label">DATE:</label>
                </div>
                <div class="col">
                    <input type="text" name="date_AI_test" class="form-control" id="stateInput" placeholder=""
                        aria-label="State">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="zipInput" class="col-form-label">GRADE LEVEL:</label>
                </div>
                <div class="col">
                    <input type="text" name="grade_level_AI_test" class="form-control" id="zipInput" placeholder=""
                        aria-label="Zip">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-3 table-header-cr">
            <div class="col-2 border border-gray p-2">
                <span>Subject</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Raw Score</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Scaled Score</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>%ile</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Stanine</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Remarks</span>
            </div>
        </div>
    </div>
 
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Reading</span>
        </div>
        <div class="col-2 px-0">
            <input required name="reading_rawscore_4" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="reading_scaledscore_4" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="reading_%ile_4" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input  required name="reading_stanine_4" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input  required name="reading_remarks_4" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Language</span>
        </div>
        <div class="col-2 px-0">
            <input required name="language_rawscore_4" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="language_scaledscore_4" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="language_%ile_4" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input  required name="language_stanine_4" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input  required name="language_remarks_4" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>English</span>
        </div>
        <div class="col-2 px-0">
            <input required name="english_rawscore_4" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="english_scaledscore_4" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="english_%ile_4" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="english_stanine_4" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="english_remarks_4" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
        <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Filipino</span>
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_rawscore_4" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_scaledscore_4" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_stanine_4" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_remarks_4" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>

    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Mathematics</span>
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_rawscore_4" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_scaledscore_4" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_%ile_4" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_stanine_4" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_remarks_4" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>

    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Science</span>
        </div>
        <div class="col-2 px-0">
            <input required name="science_rawscore_4" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="science_scaledscore_4" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="science_%ile_4" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="science_stanine_4" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="science_remarks_4" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>

    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Araling Panlipunan</span>
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_rawscore_4" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_scaledscore_4" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_%ile_4" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_stanine_4" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_remarks_4" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
</div>



<div class="RecordOfTestResults_Achievement_Test_5">
    <br><br>
        <div class="row g-3">
        <div class="col-sm-6">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="cityInput" class="col-form-label">TYPE OF TEST:</label>
                </div>
                <div class="col">
                    <input type="text" name="test_type_AI_test" class="form-control" id="cityInput" placeholder=""
                        aria-label="City">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="stateInput" class="col-form-label">DATE:</label>
                </div>
                <div class="col">
                    <input type="text" name="date_AI_test" class="form-control" id="stateInput" placeholder=""
                        aria-label="State">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="zipInput" class="col-form-label">GRADE LEVEL:</label>
                </div>
                <div class="col">
                    <input type="text" name="grade_level_AI_test" class="form-control" id="zipInput" placeholder=""
                        aria-label="Zip">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-3 table-header-cr">
            <div class="col-2 border border-gray p-2">
                <span>Subject</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Raw Score</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Scaled Score</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>%ile</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Stanine</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Remarks</span>
            </div>
        </div>
    </div>
 
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Reading</span>
        </div>
        <div class="col-2 px-0">
            <input required name="reading_rawscore_4" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="reading_scaledscore_4" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="reading_%ile_4" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input  required name="reading_stanine_4" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input  required name="reading_remarks_4" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Language</span>
        </div>
        <div class="col-2 px-0">
            <input required name="language_rawscore_5" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="language_scaledscore_5" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="language_%ile_5" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input  required name="language_stanine_5" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input  required name="language_remarks_5" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>English</span>
        </div>
        <div class="col-2 px-0">
            <input required name="english_rawscore_5" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="english_scaledscore_5" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="english_%ile_5" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="english_stanine_5" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="english_remarks_5" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
        <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Filipino</span>
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_rawscore_5" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_scaledscore_5" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_stanine_5" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_remarks_5" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>

    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Mathematics</span>
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_rawscore_5" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_scaledscore_5" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_%ile_5" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_stanine_5" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_remarks_5" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>

    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Science</span>
        </div>
        <div class="col-2 px-0">
            <input required name="science_rawscore_5" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="science_scaledscore_5" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="science_%ile_5" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="science_stanine_5" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="science_remarks_5" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>

    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Araling Panlipunan</span>
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_rawscore_5" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_scaledscore_5" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_%ile_5" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_stanine_5" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_remarks_5" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>


</div>




<div class="RecordOfTestResults_Achievement_Test_6">
    <br><br>
        <div class="row g-3">
        <div class="col-sm-6">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="cityInput" class="col-form-label">TYPE OF TEST:</label>
                </div>
                <div class="col">
                    <input type="text" name="test_type_AI_test" class="form-control" id="cityInput" placeholder=""
                        aria-label="City">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="stateInput" class="col-form-label">DATE:</label>
                </div>
                <div class="col">
                    <input type="text" name="date_AI_test" class="form-control" id="stateInput" placeholder=""
                        aria-label="State">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="zipInput" class="col-form-label">GRADE LEVEL:</label>
                </div>
                <div class="col">
                    <input type="text" name="grade_level_AI_test" class="form-control" id="zipInput" placeholder=""
                        aria-label="Zip">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-3 table-header-cr">
            <div class="col-2 border border-gray p-2">
                <span>Subject</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Raw Score</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Scaled Score</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>%ile</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Stanine</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Remarks</span>
            </div>
        </div>
    </div>
 
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Reading</span>
        </div>
        <div class="col-2 px-0">
            <input required name="reading_rawscore_6" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="reading_scaledscore_6" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="reading_%ile_6" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input  required name="reading_stanine_6" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input  required name="reading_remarks_6" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Language</span>
        </div>
        <div class="col-2 px-0">
            <input required name="language_rawscore_6" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="language_scaledscore_6" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="language_%ile_6" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input  required name="language_stanine_6" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input  required name="language_remarks_6" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>English</span>
        </div>
        <div class="col-2 px-0">
            <input required name="english_rawscore_6" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="english_scaledscore_6" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="english_%ile_6" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="english_stanine_6" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="english_remarks_6" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
        <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Filipino</span>
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_rawscore_6" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_scaledscore_6" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_stanine_6" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="filipino_remarks_6" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>

    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Mathematics</span>
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_rawscore_6" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_scaledscore_6" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_%ile_6" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_stanine_6" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="mathematics_remarks_6" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>

    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Science</span>
        </div>
        <div class="col-2 px-0">
            <input required name="science_rawscore_6" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="science_scaledscore_6" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="science_%ile_6" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="science_stanine_6" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="science_remarks_6" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>

    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-2 border border-gray p-2">
            <span>Araling Panlipunan</span>
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_rawscore_6" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_scaledscore_6" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_%ile_6" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_stanine_6" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="aralingpanlipunan_remarks_6" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>


</div>




