<div class= "Ability_Intelligence Test">
    <h5>VI. RECORD OF TEST RESULTS</h5><br>
    <h5>1. Ability / Intelligence Test</h5>
    <div class="row g-3">
        <div class="col-sm-6">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="cityInput" class="col-form-label">TYPE OF TEST:</label>
                </div>
                <div class="col">
                    <input type="text" name="test_type_AI_test_gs" class="form-control" id="cityInput" placeholder=""
                        aria-label="City">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="stateInput" class="col-form-label">DATE:</label>
                </div>
                <div class="col">
                    <input type="date" name="date_AI_test_gs" class="form-control" id="stateInput" placeholder=""
                        aria-label="State">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="zipInput" class="col-form-label">GRADE LEVEL:</label>
                </div>
                <div class="col">
                    <input type="text" name="grade_level_AI_test_gs" class="form-control" id="zipInput" placeholder=""
                        aria-label="Zip">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-3 table-header-cr">
            <div class="col-1 border border-gray p-2">
                <span>Grade<br>Level</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Date</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Test <br> Administered
                </span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>Raw Score</span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>C.A</span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>IQ_SAI</span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>%ile</span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>Stanie</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Remarks</span>
            </div>
        </div>
    </div>
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Junior Kinder</span>
            <input type="hidden" name="juniorkinder_ability_intelligence" id="juniorkinder_ability_intelligence" value="Junior Kinder">
        </div>
        <div class="col-2 px-0">
            <input required name="juniorkinder_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="juniorkinder_test_administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="juniorkinder_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="juniorkinder_CA" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="juniorkinder_IQ_SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="juniorkinder_percentile" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="juniorkinder_stanine" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="juniorkinder_remarks" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
    <!-- Senior Kinder -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Senior Kinder</span>
            <input type="hidden" name="seniorkinder_ability_intelligence" id="seniorkinder_ability_intelligence" value="Senior Kinder">
        </div>
        <div class="col-2 px-0">
            <input required name="seniorkinder_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="seniorkinder_test_administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="seniorkinder_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="seniorkinder_CA" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="seniorkinder_IQ_SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="seniorkinder_percentile" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="seniorkinder_stanine" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="seniorkinder_remarks" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
    <!-- Grade 1 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 1</span>
            <input type="hidden" name="grade1_ability_intelligence" id="grade1_ability_intelligence" value="Grade 1">
        </div>
        <div class="col-2 px-0">
            <input required name="grade1_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade1_test_administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade1_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade1_CA" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade1_IQ_SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade1_percentile" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade1_stanine" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade1_remarks" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
    <!-- Grade 2 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 2</span>
            <input type="hidden" name="grade2_ability_intelligence" id="grade2_ability_intelligence" value="Grade 2">
        </div>
        <div class="col-2 px-0">
            <input required name="grade2_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade2_test_administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade2_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade2_CA" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade2_IQ_SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade2_percentile" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade2_stanine" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade2_remarks" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>
    <!-- Grade 3 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 3</span>
            <input type="hidden" name="grade3_ability_intelligence" id="grade3_ability_intelligence" value="Grade 3">
        </div>
        <div class="col-2 px-0">
            <input required name="grade3_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade3_test_administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade3_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade3_CA" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade3_IQ_SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade3_percentile" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade3_stanine" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade3_remarks" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>
    <!-- Grade 4 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 4</span>
            <input type="hidden" name="grade4_ability_intelligence" id="grade4_ability_intelligence" value="Grade 4">
        </div>
        <div class="col-2 px-0">
            <input required name="grade4_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade4_test_administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade4_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade4_CA" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade4_IQ_SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade4_percentile" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade4_stanine" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade4_remarks" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>
    <!-- Grade 5 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 5</span>
            <input type="hidden" name="grade5_ability_intelligence" id="grade5_ability_intelligence" value="Grade 5">
        </div>
        <div class="col-2 px-0">
            <input required name="grade5_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade5_test_administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade5_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade5_CA" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade5_IQ_SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade5_percentile" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade5_stanine" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade5_remarks" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>

        <!-- Grade 6 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 6</span>
            <input type="hidden" name="grade6_ability_intelligence" id="grade6_ability_intelligence" value="Grade 6">
        </div>
        <div class="col-2 px-0">
            <input required name="grade6_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade6_test_administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade6_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade6_CA" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade6_IQ_SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade6_percentile" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade6_stanine" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade6_remarks" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>
</div>
    