<div class= "Ability_Intelligence Test">
    <h5>VI. RECORD OF TEST RESULTS</h5><br>
    <h5>1. Ability / Intelligence Test</h5>
    <div class="row g-3">
        <div class="col-sm-6">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="cityInput" class="col-form-label">TYPE OF TEST:</label>
                </div>
                <div class="col">
                    <input type="text" name="test_type_AI_test" class="form-control" id="cityInput" placeholder=""
                        aria-label="City">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="stateInput" class="col-form-label">DATE:</label>
                </div>
                <div class="col">
                    <input type="date" name="date_AI_test" class="form-control" id="stateInput" placeholder=""
                        aria-label="State">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="zipInput" class="col-form-label">GRADE LEVEL:</label>
                </div>
                <div class="col">
                    <input type="text" name="grade_level_AI_test" class="form-control" id="zipInput" placeholder=""
                        aria-label="Zip">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-3 table-header-cr">
            <div class="col-1 border border-gray p-2">
                <span>Grade<br>Level</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Date</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Test <br> Administered
                </span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>Raw Score</span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>C.A</span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>IQ/SAI</span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>%ile</span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>Stanie</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Remarks</span>
            </div>
        </div>
    </div>
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 7</span>
            <input type="hidden" name="grade7_ability_intelligence" id="grade7_ability_intelligence" value="Grade 7">
        </div>
        <div class="col-2 px-0">
            <input required name="grade7_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade7_test_administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade7_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade7_CA" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade7_IQ_SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade7_percentile" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade7_stanine" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade7_remarks" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
    <!-- Grade 8 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 8</span>
            <input type="hidden" name="grade8_ability_intelligence" id="grade8_ability_intelligence" value="Grade 8">
        </div>
        <div class="col-2 px-0">
            <input required name="grade8_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade8_test_administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade8_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade8_CA" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade8_IQ_SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade8_percentile" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade8_stanine" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade8_remarks" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
    <!-- Grade 9 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 9</span>
            <input type="hidden" name="grade9_ability_intelligence" id="grade9_ability_intelligence" value="Grade 9">
        </div>
        <div class="col-2 px-0">
            <input required name="grade9_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade9_test_administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade9_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade9_CA" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade9_IQ_SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade9_percentile" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade9_stanine" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade9_remarks" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
    <!-- Grade 10 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 10</span>
            <input type="hidden" name="grade10_ability_intelligence" id="grade10_ability_intelligence" value="Grade 10">
        </div>
        <div class="col-2 px-0">
            <input required name="grade10_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade10_test_administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade10_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade10_CA" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade10_IQ_SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade10_percentile" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade10_stanine" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade10_remarks" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>
    <!-- Grade 11 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 11</span>
            <input type="hidden" name="grade11_ability_intelligence" id="grade11_ability_intelligence" value="Grade 11">
        </div>
        <div class="col-2 px-0">
            <input required name="grade11_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade11_test_administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade11_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade11_CA" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade11_IQ_SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade11_percentile" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade11_stanine" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade11_remarks" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>
    <!-- Grade 12 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 12</span>
            <input type="hidden" name="grade12_ability_intelligence" id="grade12_ability_intelligence" value="Grade 12">
        </div>
        <div class="col-2 px-0">
            <input required name="grade12_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade12_test_administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade12_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade12_CA" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade12_IQ_SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade12_percentile" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade12_stanine" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade12_remarks" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>
</div>
    