<div class= "Ability_Intelligence Test">
    <h5>VI. RECORD OF TEST RESULTS</h5><br>
    <h5>1. Ability / Intelligence Test</h5>
    <div class="row g-3">
        <div class="col-sm-6">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="cityInput" class="col-form-label">TYPE OF TEST:</label>
                </div>
                <div class="col">
                    <input type="text" name="test_type_AI_test" class="form-control" id="cityInput" placeholder=""
                        aria-label="City">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="stateInput" class="col-form-label">DATE:</label>
                </div>
                <div class="col">
                    <input type="date" name="date_AI_test" class="form-control" id="stateInput" placeholder=""
                        aria-label="State">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="zipInput" class="col-form-label">GRADE LEVEL:</label>
                </div>
                <div class="col">
                    <input type="text" name="grade_level_AI_test" class="form-control" id="zipInput" placeholder=""
                        aria-label="Zip">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-3 table-header-cr">
            <div class="col-1 border border-gray p-2">
                <span>Grade<br>Level</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Date</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Test <br> Administered
                </span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>Raw Score</span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>C.A</span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>IQ/SAI</span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>%ile</span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>Stanie</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Remarks</span>
            </div>
        </div>
    </div>
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Junior Kinder</span>
        </div>
        <div class="col-2 px-0">
            <input required name="juniorkinder_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="juniorkinder_test-administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="juniorkinder_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="juniorkinder_C.A." type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="juniorkinder_IQ/SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="juniorkinder_%SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="juniorkinder_stanine" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="juniorkinder_remarks" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
    <!-- Senior Kinder -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Senior Kinder</span>
        </div>
        <div class="col-2 px-0">
            <input required name="juniorkinder_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="juniorkinder_test-administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="juniorkinder_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="juniorkinder_C.A." type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="juniorkinder_IQ/SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="juniorkinder_%SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="juniorkinder_stanine" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="juniorkinder_remarks" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
    <!-- Grade 1 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 1</span>
        </div>
        <div class="col-2 px-0">
            <input required name="grade1_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade1_test-administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade1_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade1_C.A." type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade1_IQ/SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade1_%SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade1_stanine" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade1_remarks" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
    <!-- Grade 2 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 2</span>
        </div>
        <div class="col-2 px-0">
            <input required name="grade2_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade2_test-administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade2_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade2_C.A." type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade2_IQ/SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade2_%SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade2_stanine" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade2_remarks" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>
    <!-- Grade 3 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 3</span>
        </div>
        <div class="col-2 px-0">
            <input required name="grade3_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade3_test-administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade3_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade3_C.A." type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade3_IQ/SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade3_%SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade3_stanine" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade3_remarks" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>
    <!-- Grade 4 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 4</span>
        </div>
        <div class="col-2 px-0">
            <input required name="grade4_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade4_test-administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade4_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade4_C.A." type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade4_IQ/SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade4_%SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade4_stanine" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade4_remarks" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>
    <!-- Grade 5 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 5</span>
        </div>
        <div class="col-2 px-0">
            <input required name="grade5_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade5_test-administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade5_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade5_C.A." type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade5_IQ/SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade5_%SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade5_stanine" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade5_remarks" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>

        <!-- Grade 6 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 6</span>
        </div>
        <div class="col-2 px-0">
            <input required name="grade6_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade6_test-administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade6_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade6_C.A." type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade6_IQ/SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade6_%SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade6_stanine" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade6_remarks" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>
</div>
    