<div class= "Ability_Intelligence Test">
    <h5>VI. RECORD OF TEST RESULTS</h5><br>
    <h5>1. Ability / Intelligence Test</h5>
    <div class="row g-3">
        <div class="col-sm-6">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="cityInput" class="col-form-label">TYPE OF TEST:</label>
                </div>
                <div class="col">
                    <input type="text" name="test_type_AI_test" class="form-control" id="cityInput" placeholder=""
                        aria-label="City">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="stateInput" class="col-form-label">DATE:</label>
                </div>
                <div class="col">
                    <input type="date" name="date_AI_test" class="form-control" id="stateInput" placeholder=""
                        aria-label="State">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row g-2">
                <div class="col-auto">
                    <label for="zipInput" class="col-form-label">GRADE LEVEL:</label>
                </div>
                <div class="col">
                    <input type="text" name="grade_level_AI_test" class="form-control" id="zipInput" placeholder=""
                        aria-label="Zip">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-3 table-header-cr">
            <div class="col-1 border border-gray p-2">
                <span>Grade<br>Level</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Date</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Test <br> Administered
                </span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>Raw Score</span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>C.A</span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>IQ/SAI</span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>%ile</span>
            </div>
            <div class="col-1 border border-gray p-2">
                <span>Stanie</span>
            </div>
            <div class="col-2 border border-gray p-2">
                <span>Remarks</span>
            </div>
        </div>
    </div>
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 7</span>
        </div>
        <div class="col-2 px-0">
            <input required name="grade7_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade7_test-administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade7_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade7_C.A." type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade7_IQ/SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade7_%SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade7_stanine" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade7_remarks" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
    <!-- Grade 8 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 8</span>
        </div>
        <div class="col-2 px-0">
            <input required name="grade8_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade8_test-administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade8_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade8_C.A." type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade8_IQ/SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade8_%SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade8_stanine" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade8_remarks" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
    <!-- Grade 9 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 9</span>
        </div>
        <div class="col-2 px-0">
            <input required name="grade9_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade9_test-administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade9_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade9_C.A." type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade9_IQ/SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade9_%SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade9_stanine" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade9_remarks" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
    </div>
    <!-- Grade 10 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 10</span>
        </div>
        <div class="col-2 px-0">
            <input required name="grade10_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade10_test-administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade10_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade10_C.A." type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade10_IQ/SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade10_%SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade10_stanine" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade10_remarks" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>
    <!-- Grade 11 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 11</span>
        </div>
        <div class="col-2 px-0">
            <input required name="grade11_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade11_test-administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade11_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade11_C.A." type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade11_IQ/SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade11_%SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade11_stanine" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade11_remarks" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>
    <!-- Grade 12 -->
    <div class="row mx-half mb-0 input-group-custom-cr">
        <div class="col-1 border border-gray p-2">
            <span>Grade 12</span>
        </div>
        <div class="col-2 px-0">
            <input required name="grade12_date" type="date" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input required name="grade12_test-administered" type="text"
                class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade12_raw_score" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade12_C.A." type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade12_IQ/SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade12_%SAI" type="text" class="form-control rounded-0 border border-gray" placeholder="" />
        </div>
        <div class="col-1 px-0">
            <input name="grade12_stanine" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
        <div class="col-2 px-0">
            <input name="grade12_remarks" type="text" class="form-control rounded-0 border border-gray"
                placeholder="" />
        </div>
    </div>
</div>
    