            
             <div class = "school-activities">
                <h5>V. SCHOOL ACTIVITIES (Membership in school club/organization, awards received, educational trips, etc)</h5>
                <div class="container-fluid">
                    <div class="row mt-3 table-header-cr">
                        <div class="col-2 border border-gray p-2">
                            <span>Grade Level</span>
                        </div>
                        <div class="col-2 border border-gray p-2">
                            <span>School Year</span>
                        </div>
                        <div class="col-4 border border-gray p-2">
                            <span>NAME OF CLUB/ORGANIZATION<br>(Position of Leadership, Award, Etc)
                            </span>
                        </div>
                        <div class="col-4 border border-gray p-2">
                            <span>Educational Trips, Participation in <br> extra-Curricular Activities</span>
                        </div>
                    </div>
                </div>
                <!-- Junior Kinder -->
                <div class="row mx-half mb-0 input-group-custom-cr">
                    <div class="col-2 border border-gray p-2">
                        <span>Junior Kinder</span>
                        <input type="hidden" name="schoolActivityJuniorKinder" id="schoolActivityJuniorKinder" value="Junior Kinder">
                    </div>
                    <div class="col-2 px-0">
                        <input required name="juniorkinder_school_year" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input required name="juniorkinder_club_name" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input name="juniorkinder_field_trips" type="text" 
                            class="form-control rounded-0 border border-gray"
                            placeholder="" />
                    </div>
                </div>
                <!-- Senior Kinder -->
                <div class="row mx-half mb-0 input-group-custom-cr">
                    <div class="col-2 border border-gray p-2">
                        <span>Senior Kinder</span>
                        <input type="hidden" name="schoolActivitySeniorKinder" id="schoolActivitySeniorKinder" value="Senior Kinder">
                    </div>
                    <div class="col-2 px-0">
                        <input required name="seniorkinder_school_year" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input required name="seniorkinder_club_name" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input name="seniorkinder_field_trips" type="text" 
                            class="form-control rounded-0 border border-gray"
                            placeholder="" />
                    </div>
                </div>
                <!-- Grade 1 -->
                <div class="row mx-half mb-0 input-group-custom-cr">
                    <div class="col-2 border border-gray p-2">
                        <span>Grade 1</span>
                        <input type="hidden" name="schoolActivityGrade1" id="schoolActivityGrade9" value="Grade 1">
                    </div>
                    <div class="col-2 px-0">
                        <input required name="grade1_school_year" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input required name="grade1_club_name" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input name="grade1_field_trips" type="text" 
                            class="form-control rounded-0 border border-gray"
                            placeholder="" />
                    </div>
                </div>
                <!-- Grade 2 -->
                <div class="row mx-half mb-0 input-group-custom-cr">
                    <div class="col-2 border border-gray p-2">
                        <span>Grade 2</span>
                        <input type="hidden" name="schoolActivityGrade2" id="schoolActivityGrade10" value="Grade 2">
                    </div>
                    <div class="col-2 px-0">
                        <input required name="grade2_school_year" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input required name="grade2_club_name" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input name="grade2_field_trips" type="text" 
                            class="form-control rounded-0 border border-gray"
                            placeholder="" />
                    </div>
                </div>
                <!-- Grade 3 -->
                <div class="row mx-half mb-0 input-group-custom-cr">
                    <div class="col-2 border border-gray p-2">
                        <span>Grade 3</span>
                        <input type="hidden" name="schoolActivityGrade3" id="schoolActivity3" value="Grade 3">
                    </div>
                    <div class="col-2 px-0">
                        <input required name="grade3_school_year" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input required name="grade3_club_name" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input name="grade3_field_trips" type="text" 
                            class="form-control rounded-0 border border-gray"
                            placeholder="" />
                    </div>
                </div>
                <!-- Grade 4 -->
                <div class="row mx-half mb-0 input-group-custom-cr">
                    <div class="col-2 border border-gray p-2">
                        <span>Grade 4</span>
                        <input type="hidden" name="schoolActivityGrade4" id="schoolActivityGrade4" value="Grade 4">
                    </div>
                    <div class="col-2 px-0">
                        <input required name="grade4_school_year" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input required name="grade4_club_name" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input name="grade4_field_trips" type="text" 
                            class="form-control rounded-0 border border-gray"
                            placeholder="" />
                    </div>
                </div>
                <!-- Grade 5 -->
                <div class="row mx-half mb-0 input-group-custom-cr">
                    <div class="col-2 border border-gray p-2">
                        <span>Grade 5</span>
                        <input type="hidden" name="schoolActivityGrade5" id="schoolActivityGrade5" value="Grade 5">
                    </div>
                    <div class="col-2 px-0">
                        <input required name="grade5_school_year" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input required name="grade5_club_name" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input name="grade5_field_trips" type="text" 
                            class="form-control rounded-0 border border-gray"
                            placeholder="" />
                    </div>
                </div>
                <!-- Grade 6 -->
                <div class="row mx-half mb-0 input-group-custom-cr">
                    <div class="col-2 border border-gray p-2">
                        <span>Grade 6</span>
                        <input type="hidden" name="schoolActivityGrade6" id="schoolActivityGrade6" value="Grade 6">
                    </div>
                    <div class="col-2 px-0">
                        <input required name="grade6_school_year" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input required name="grade6_club_name" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input name="grade6_field_trips" type="text" 
                            class="form-control rounded-0 border border-gray"
                            placeholder="" />
                    </div>
                </div>
            </div>