            
             <div class = "school-activities">
                <h5>V. SCHOOL ACTIVITIES (Membership in school club/organization, awards received, educational trips, etc)</h5>
                <div class="container-fluid">
                    <div class="row mt-3 table-header-cr">
                        <div class="col-2 border border-gray p-2">
                            <span>Grade Level</span>
                        </div>
                        <div class="col-2 border border-gray p-2">
                            <span>School Year</span>
                        </div>
                        <div class="col-4 border border-gray p-2">
                            <span>NAME OF CLUB/ORGANIZATION<br>(Position of Leadership, Award, Etc)
                            </span>
                        </div>
                        <div class="col-4 border border-gray p-2">
                            <span>Educational Trips, Participation in <br> extra-Curricular Activities</span>
                        </div>
                    </div>
                </div>
                <!-- Grade 7 -->
                <div class="row mx-half mb-0 input-group-custom-cr">
                    <div class="col-2 border border-gray p-2">
                        <span>Grade 7</span>
                        <input type="hidden" name="schoolActivityGrade7" id="schoolActivityGrade7" value="Grade 7">
                    </div>
                    <div class="col-2 px-0">
                        <input required name="grade7_school_year" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input required name="grade7_club_name" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input name="grade7_field_trips" type="text" 
                            class="form-control rounded-0 border border-gray"
                            placeholder="" />
                    </div>
                </div>
                <!-- Grade 8 -->
                <div class="row mx-half mb-0 input-group-custom-cr">
                    <div class="col-2 border border-gray p-2">
                        <span>Grade 8</span>
                        <input type="hidden" name="schoolActivityGrade8" id="schoolActivityGrade8" value="Grade 8">
                    </div>
                    <div class="col-2 px-0">
                        <input required name="grade8_school_year" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input required name="grade8_club_name" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input name="grade8_field_trips" type="text" 
                            class="form-control rounded-0 border border-gray"
                            placeholder="" />
                    </div>
                </div>
                <!-- Grade 9 -->
                <div class="row mx-half mb-0 input-group-custom-cr">
                    <div class="col-2 border border-gray p-2">
                        <span>Grade 9</span>
                        <input type="hidden" name="schoolActivityGrade9" id="schoolActivityGrade9" value="Grade 9">
                    </div>
                    <div class="col-2 px-0">
                        <input required name="grade9_school_year" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input required name="grade9_club_name" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input name="grade9_field_trips" type="text" 
                            class="form-control rounded-0 border border-gray"
                            placeholder="" />
                    </div>
                </div>
                <!-- Grade 10 -->
                <div class="row mx-half mb-0 input-group-custom-cr">
                    <div class="col-2 border border-gray p-2">
                        <span>Grade 10</span>
                        <input type="hidden" name="schoolActivityGrade10" id="schoolActivityGrade10" value="Grade 10">
                    </div>
                    <div class="col-2 px-0">
                        <input required name="grade10_school_year" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input required name="grade10_club_name" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input name="grade10_field_trips" type="text" 
                            class="form-control rounded-0 border border-gray"
                            placeholder="" />
                    </div>
                </div>
                <!-- Grade 11 -->
                <div class="row mx-half mb-0 input-group-custom-cr">
                    <div class="col-2 border border-gray p-2">
                        <span>Grade 11</span>
                        <input type="hidden" name="schoolActivityGrade11" id="schoolActivity11" value="Grade 11">
                    </div>
                    <div class="col-2 px-0">
                        <input required name="grade11_school_year" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input required name="grade11_club_name" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input name="grade11_field_trips" type="text" 
                            class="form-control rounded-0 border border-gray"
                            placeholder="" />
                    </div>
                </div>
                <!-- Grade 12 -->
                <div class="row mx-half mb-0 input-group-custom-cr">
                    <div class="col-2 border border-gray p-2">
                        <span>Grade 12</span>
                        <input type="hidden" name="schoolActivityGrade12" id="schoolActivityGrade12" value="Grade 12">
                    </div>
                    <div class="col-2 px-0">
                        <input required name="grade12_school_year" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input required name="grade12_club_name" type="text"
                            class="form-control rounded-0 border border-gray" placeholder="" />
                    </div>
                    <div class="col-4 px-0">
                        <input name="grade12_field_trips" type="text" 
                            class="form-control rounded-0 border border-gray"
                            placeholder="" />
                    </div>
                </div>
            </div>