#navbar {
    background-color: #ffd966;
}

#topbar-links li a{
    color: #FAFAFA;
}

#topbar-links li a:hover{
    color: #0A0A0A;
    cursor: pointer;
}

#sidebar-links li{
    background-color: #d9d9d9;
}

#sidebar-links li a{
    color: #FAFAFA;
    font-weight: 450;
}


#sidebar-links li:hover{
    background-color: #ffd966;
}

.input-group :placeholder-shown{
    font-size: 11px;
}

#data-table {
    border-color: #d9d9d9;
}

#table-header {
    background-color: #ffd966;
    color: #FAFAFA;
}

#data-table span {
    font-size: 11px;
    color: #7f7f7f;
}

.input-group input{
    background-color: #d9d9d9;
}

.input-group::placeholder{
    color: #d9d9d9;
}

.form-control:focus {
    background-color: #d9d9d9;
    font-size: 11px;
}

.form-control:focus::placeholder {
    color: #7f7f7f;
}

  