#navbar {
    background-color: #ffd966;
}

#topbar-links li a{
    color: #FAFAFA;
}

#topbar-links li a:hover{
    color: #0A0A0A;
    cursor: pointer;
}

#sidebar-links li{
    background-color: #d9d9d9;
}

#sidebar-links li a{
    color: #FAFAFA;
    font-weight: 450;
}


#sidebar-links li:hover{
    background-color: #ffd966;
}

#data-table {
    border-color: #d9d9d9;
}

#table-header {
    background-color: #ffd966;
    color: #FAFAFA;
}

#data-table span {
    font-size: 11px;
    color: #7f7f7f;
}

.form-control:focus {
    background-color: #d9d9d9;
    font-size: 11px;
}

.form-control:focus::placeholder {
    color: #7f7f7f;
}

.btn {
    background-color: #ffd966; 
    color: #FAFAFA; 
  }

  .btn i {
    color: #FAFAFA; 
  }

.btn:focus, .btn:active {
    background-color: #ffd966; 
    color: #FAFAFA;
    outline: none;
    box-shadow: none;
  }

  .navbar {
    position: sticky;
    top: 0;
    background-color: #ffd966;
}

.topbar-links li a{
    color: #FAFAFA;
}

.topbar-links li a:hover{
    color: #0A0A0A;
    cursor: pointer;
}

.data-table {
    border-color: #d9d9d9;
}

.table-header {
    background-color: #ffd966;
    color: #FAFAFA;
}

#data-table span {
    font-size: 11px;
    color: #7f7f7f;
}

.input-group {
    &:placeholder-shown{
        font-size: 11px;
    }

    &::placeholder{
        color: #d9d9d9;
    }

    &:placeholder-shown{
        font-size: 11px;
    }
}

.input-group button{
    background-color: #7f7f7f;
    color: #FAFAFA;

    &:hover {
        opacity: 0.5;    
    }
  
    &:active {
        opacity: 1;
        background-color: #d9d9d9;
    }

    &:active {
        background-color: #d9d9d9;
    }
    
}

.dropdown-button {
    background-color: #7f7f7f;
}

.student-form input{
    background-color: #d9d9d9;
    font-size: 11px;

    &::placeholder{
        color: #7f7f7f;
    }

    &:focus {
        background-color: #d9d9d9;
        font-size: 11px;
    }
 
    &:focus::placeholder {
        color: #7f7f7f;
    }
}

.search-form input{
    background-color: #FAFAFA;
    font-size: 11px;

    &::placeholder{
        color: #7f7f7f;
    }

    &:focus {
        background-color: #FAFAFA;
        font-size: 11px;
    }
 
    &:focus::placeholder {
        color: #7f7f7f;
    }
}

#form-button-add {
    padding: .5em .75em;
    background: #ffd966;
    color: #FAFAFA;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
  
    &:hover {
        opacity: 0.5;    
    }
  
    &:active {
        opacity: 1;
      background-color: #d9d9d9;
    }
}

.checkbox-dropdown {
    background-color: #d9d9d9 !important;
    border: 0;
  
    &:hover {
        opacity: 0.5;    
    }
  
    &:active {
        background-color: #d9d9d9 !important;
    }

    &:focus {
      background-color: #d9d9d9;
      border: none;
    }

    &:visited {
        background-color: #d9d9d9;
        border: none;
      }
}

  .edit-button-div {
    display: none;
    padding: .5em .75em;
    color: #7f7f7f;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
  
    &:hover {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.75;
    }
  }
  
  .list-div:hover .edit-button-div {
    display: block; 
  }

  .add-admission-button {
    font-size: 11px;
  }

  .form-check-label {
    font-size: 11px;
  }



  