html,body {
    height:100%;
}

body{
    background-color: #fdfdfd;
}

#login-form{
    width:35%;
}

#user-view{
    width:50%;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: #ffd966;
    color: #0A0A0A;
}

#logout-link {
    color: #ff2222;
}

#student-link, #user-link{
    color: #0A0A0A;
}

#topbar-links li a{
    color: #0A0A0A;
    font-weight: bolder;
}

#sidebar-links li a{
    color: #5e5e5e;
    font-weight: bold;
}

#topbar-links li a:hover, #sidebar-links li a:hover{
    cursor: pointer;
    color: #0a58ca;
}

.input-group :placeholder-shown{
    font-size: 1rem;
}

.data-table {
    border-color: #d9d9d9;
}

.table-header {
    background-color: #ffd966;
    color: #0A0A0A;
    font-weight: bold;
}

#data-table span {
    font-size: 1rem;
    color: #7f7f7f;
}

option{
    color: #7f7f7f;
}
.input-group input, .input-group select{
    background-color: #d9d9d9;
    font-size: 1rem;

    &::placeholder{
        color: #7f7f7f;
    }

    &:focus {
        background-color: #d9d9d9;
        font-size: 1rem;
    }

    
    &:focus::placeholder {
        color: #7f7f7f;
    }
}

.alert {
    position: absolute;
    right: 10vw;
    bottom: 10vh;
    width: 20vw;
    background-color: #FCFCFC;
    border: 1px solid #847979;
    animation-name: dismiss-alert;
    animation-delay: 5s;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes dismiss-alert {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#form-button-add {
    padding: .5em .75em;
    background: #ffd966;
    color: #0A0A0A;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s; 
  
    &:hover {
        opacity: 0.5;
        transition: 0.2s; 
    }
    
    &:active {
        opacity: 1;
        background-color: #d9d9d9;
    }
}

  
  .edit-button-div {
    /* display: none; */
    padding: .5em .75em;
    color: #7f7f7f;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
  
    &:hover {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.75;
    }
  }
  
  .list-div:hover .edit-button-div {
    display: block; 
  }

  #login-button{
    color: black;
    background-color: #FFD700;

    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
    font-weight: bold; 
  
    &:hover {
        opacity: 0.5;
        transition: 0.2s; 
    }
    
    &:active {
        opacity: 1;
        background-color: #d9d9d9;
    }

    
}