body{
    background-color: #fdfdfd;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: #ffd966;
}

.topbar-links li a{
    color: #FAFAFA;
}

.topbar-links li a:hover{
    color: #0A0A0A;
    cursor: pointer;
}

.input-group :placeholder-shown{
    font-size: 1rem;
}

.data-table {
    border-color: #d9d9d9;
}

.table-header {
    background-color: #ffd966;
    color: #0A0A0A;
    font-weight: bold;
}

#data-table span {
    font-size: 1rem;
    color: #7f7f7f;
}

.input-group input{
    background-color: #d9d9d9;
    font-size: 1rem;

    &::placeholder{
        color: #7f7f7f;
    }

    &:focus {
        background-color: #d9d9d9;
        font-size: 1rem;
    }

    
    &:focus::placeholder {
        color: #7f7f7f;
    }
}

.alert {
    position: absolute;
    right: 10vw;
    bottom: 10vh;
    width: 20vw;
    background-color: #FCFCFC;
    border: 1px solid #847979;
    animation-name: dismiss-alert;
    animation-delay: 5s;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes dismiss-alert {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#form-button-add {
    padding: .5em .75em;
    background: #ffd966;
    color: #0A0A0A;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s; 
  
    &:hover {
        opacity: 0.5;
        transition: 0.2s; 
    }
    
    &:active {
        opacity: 1;
        background-color: #d9d9d9;
    }
}

  
  .edit-button-div {
    /* display: none; */
    padding: .5em .75em;
    color: #7f7f7f;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
  
    &:hover {
        opacity: 0.5;
    }

    &:active {
        opacity: 0.75;
    }
  }
  
  .list-div:hover .edit-button-div {
    display: block; 
  }
