<!DOCTYPE html>
<html lang="en">

<head>

    <style>
        #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1040; 
  }
  
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/84cb3b7f2b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/style.css"> 
    <script>
            // Function to handle "Start new school year" button click
    function handleStartNewSchoolYear() {
        
        const modal = new bootstrap.Modal(document.getElementById('exampleModal'));

        
        const confirmButton = document.getElementById('confirmStartNewYear');
        confirmButton.addEventListener('click', () => {
            
            fetch('/admin/startNewSchoolYear', {
                method: 'POST',
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
               
            })
            .catch((error) => {
                console.error('Error:', error);
                
            });

            
            modal.hide();
        });

     
        modal.show();
    }
    </script>
</head>

<body>

    {{!-- MESSAGE PARTIAL --}}
    {{#if message}}
        {{> Message message=message}}
    {{/if}}
    
    {{> navbar student_page="true"}}

    <div class="container-fluid">
        <div class="row mx-5">
            <aside id="aside" class="col-2">
                <p class="fw-bold fs-3 mb-0">Enrolled Students</p>
                <p>SY {{schoolyear}}</p>
                <ul id="sidebar-links" class="nav flex-column">
                    {{!-- GRADELIST PARTIAL --}}
                    {{> grade_list label="Kinder" current="true"}}
                    {{> grade_list label="Senior Kinder" current=""}}
                    {{> grade_list label="Grade 1" current=""}}
                    {{> grade_list label="Grade 2" current=""}}
                    {{> grade_list label="Grade 3" current=""}}
                    {{> grade_list label="Grade 4" current=""}}
                    {{> grade_list label="Grade 5" current=""}}
                    {{> grade_list label="Grade 6" current=""}}
                    {{> grade_list label="Grade 7" current=""}}
                    {{> grade_list label="Grade 8" current=""}}
                    {{> grade_list label="Grade 9" current=""}}
                    {{> grade_list label="Grade 10" current=""}}
                    {{> grade_list label="Grade 11" current=""}}
                    {{> grade_list label="Grade 12" current=""}}
                </ul>
            </aside>

            <section class="container flex-column col-10 p-3">

                <div class="row my-3">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="button-yellow btn rounded-0 mx-3 border-0" onclick="handleStartNewSchoolYear()">Start new school year</button>

                        <button type="button" class="btn rounded-0 btn-outline-dark">Bulk enroll</button>
                    </div>
                </div>
                <div class="row my-3">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2 rounded-0" type="search" placeholder="Search"
                            aria-label="Search">
                        <button class="btn btn-outline-success rounded-0 pt-1" type="submit"><i
                                class="bi bi-search"></i></button>
                    </form>
                </div>
                 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class=" modal-content p-5">
                                    <div class="modal-body border-0">
                                        <div class="container-fluid">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">You are starting a
                                                new school year</h1>
                                            <h2 class="fw-light fs-5" id="exampleModalLabel">(SY {{nextschoolyear}})</h2>
                                        </div>
                                        <div class="container-fluid">
                                            <p>All student records and data will be adjusted to reflect the new year.​
                                            </p>
                                            <p>Are you sure you want to begin the new school year?​​</p>
                                        </div>
                                    </div>
                                    <div class="modal-footer border-0 justify-content-center">
                                        <button type="button"  id="confirmStartNewYear"
                                            class="button-yellow btn rounded-0 mx-3 border-0y">Confirm</button>
                                        <button type="button" class="button-gray btn rounded-0 border-0"
                                            data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                <div class="table-header container-fluid">
                    <div class="row my-3">
                        <div class="col-2 border p-2">
                            <span>Student ID</span>
                        </div>
                        <div class="col-2 border p-2">
                            <span>Last Name</span>
                        </div>
                        <div class="col-2 border p-2">
                            <span>First Name</span>
                        </div>
                        <div class="col-1 border p-2">
                            <span>MI</span>
                        </div>
                        <div class="col-5 border p-2">
                            <span>Section</span>
                        </div>
                    </div>
                </div>

                <form id="add-student-form" role="form" method="POST" action="/admin/students">
                    <div class="input-group">
                        {{!-- TEXT INPUT PARTIAL --}}
                        {{> text_input name="student_id" label="New Student" size_large="true" required="true"}}
                        {{> text_input name="lastName" label="Last Name" size_large="true" required="true"}}
                        {{> text_input name="firstName" label="First Name" size_large="true" required="true"}}
                        {{> text_input name="middleInitial" label="MI" size_large="" required=""}}
                        {{> text_input name="grade" label="Grade" size_large="true" required="true"}}
                        {{> text_input name="section" label="Section" size_large="true" required="true"}}

                        {{!-- <input required name="student_id" type="text" class="col-2 border p-2" placeholder="New Student ID" />
                        <input required name="lastName"   type="text" class="col-2 border p-2" placeholder="Last Name" />
                        <input required name="firstName" type="text" class="col-2 border p-2" placeholder="First Name" />
                        <input name="middleInitial" type="text" class="col-1 border p-2" placeholder="MI" />
                        <input required name="grade" type="text" class="col-2 border p-2" placeholder="Grade" />
                        <input required name="section" type="text" class="col-2 border p-2" placeholder="Section" /> --}}

                        <div class="col-1 text-center rounded-0" role="button" tabindex="0" id="form-button-add" value="Submit">
                            <input class="col-1" type="submit" value="" style="position: absolute; background-color: transparent; height: 100%; right: 0; top: 0; padding: 0px 2px; border: none;"/>
                            <i class="fa-solid fa-plus"></i>
                        </div>
                    </div>
                </form>

                <div id="data-table" class="container-fluid my-3">
                {{#if students.length}}
                    {{#each students}}
                        {{!-- STUDENT INFO PARTIAL --}}
                        {{> student_info}}
                    {{/each}}
                {{else}}
                    <div class="row">
                        <div class="col-12 text-center">
                            <span>No students found.</span>
                        </div>
                    </div>
                {{/if}}
            </div>

                {{!-- <div id="data-table" class="container-fluid my-3">
                    <div class="row">
                        <div class="col-2 border p-2">
                            <span>23-00001</span>
                        </div>
                        <div class="col-2 border p-2">
                            <span>Gutierrez</span>
                        </div>
                        <div class="col-2 border p-2">
                            <span>James</span>
                        </div>
                        <div class="col-2 border p-2">
                            <span>Z</span>
                        </div>
                        <div class="col-2 border p-2">
                            <span>Justice</span>
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn col-12 rounded-0"><i class="bi bi-pencil-fill"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 border p-2">
                            <span>23-00012</span>
                        </div>
                        <div class="col-2 border p-2">
                            <span>De La Cruz</span>
                        </div>
                        <div class="col-2 border p-2">
                            <span>Samantha</span>
                        </div>
                        <div class="col-2 border p-2">
                            <span>D</span>
                        </div>
                        <div class="col-2 border p-2">
                            <span>Justice</span>
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn col-12 rounded-0"><i class="bi bi-pencil-fill"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 border p-2">
                            <span>23-00003</span>
                        </div>
                        <div class="col-2 border p-2">
                            <span>Chan</span>
                        </div>
                        <div class="col-2 border p-2">
                            <span>Ling</span>
                        </div>
                        <div class="col-2 border p-2">
                            <span>JS</span>
                        </div>
                        <div class="col-2 border p-2">
                            <span>Justice</span>
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn col-12 rounded-0"><i class="bi bi-pencil-fill"></i>
                            </button>
                        </div>
                    </div>
                </div> --}}
        </div>

        </section>

    </div>

    
    <!-- Include Bootstrap JS (optional, for dropdown menus) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>


</body>


</html>