<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Guidance</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/style.css">

</head>

<body>
    {{> Navbar userRole='Guidance'}}

    {{#if message}}
        {{> Message message=message}}
    {{/if}}
    
    <div class="container-fluid">
        <div class="row mx-5">
            <aside class="aside col-2">
                <p class="fw-bold fs-4 mb-0">Enrolled Students</p>
                <p>SY 2023 - 2024</p>
                <ul class="sidebar-links nav flex-column">
                    {{> SidebarLinks grade="Kinder" href="#"}}
                    {{> SidebarLinks grade="Senior Kinder" href="#"}}
                    {{> SidebarLinks grade="Grade 1" href="#"}}
                    {{> SidebarLinks grade="Grade 2" href="#"}}
                    {{> SidebarLinks grade="Grade 3" href="#"}}
                    {{> SidebarLinks grade="Grade 4" href="#"}}
                    {{> SidebarLinks grade="Grade 5" href="#"}}
                    {{> SidebarLinks grade="Grade 6" href="#"}}
                    {{> SidebarLinks grade="Grade 7" href="#"}}
                    {{> SidebarLinks grade="Grade 8" href="#"}}
                    {{> SidebarLinks grade="Grade 9" href="#"}}
                    {{> SidebarLinks grade="Grade 10" href="#"}}
                    {{> SidebarLinks grade="Grade 11" href="#"}}
                    {{> SidebarLinks grade="Grade 12" href="#"}}
                </ul>
            </aside>

            <section class="flex-column col-6 p-0 mx-5">


                
                <form id="cummilative-anectodal-form" class="input-group-custom" method="GET" action="guidance/cummulative">
                    <div class="row mx-half">
                        <div class="col-5 px-0">
                            <input required name="student_id" type="text" id="studentId-cummilative-anecdotal"
                                class="form-control rounded-0 border border-white" placeholder="Student ID" />  
                        </div>

                        <div class="col-3 px-0 m-button">
                            <div class="form-button-add text-center rounded-0 border border-white" role="button"
                                tabindex="0">
                                <label for="add_anecdotal_record">Add Anecdotal Record</label>
                                <input class="add-button" type="submit" value="" id="add_anecdotal_record"/>
                            </div>
                        </div>

                        <div class="col-3 px-0 m-button">
                            <div class="form-button-add text-center rounded-0 border border-white" role="button" tabindex="0">
                                <label for="edit_cummulative_record">Edit Cummulative Record</label>
                                <input class="add-button" type="submit" value="" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable"  id="edit_cummulative_record"/>
                            </div>
                        </div>


                    </div>
                </form>

                

                <div class="row my-3">
                    <form class="d-flex" role="search">
                        <input class="form-control rounded-0 mx-0" type="search"
                            placeholder="Search by ID or Last Name, First Name..." aria-label="Search">
                        <button class="button-yellow btn rounded-0 custom-width-12 pt-1 mx-0 border-0" type="submit"><i
                                class="bi bi-search"></i></button>
                    </form>
                </div>

                <div class="table-header container-fluid">
                    <div class="row my-3">
                        <div class="col-2 border border-white p-2">
                            <span>Student ID</span>
                        </div>
                        <div class="col-2 border border-white p-2">
                            <span>Record</span>
                        </div>
                    </div>
                </div>

                <form id="add-student-form" role="form" method="POST" action="/guidance/records"
                    class="input-group-custom">
                    <div class="row mx-half">
                        <div class="col-4 px-0">
                            <input required name="student_id" type="text" id="studentId"
                                class="form-control rounded-0 border border-white" placeholder="Student ID" />
                        </div>
                        <div class="dropdown-custom student-form btn-group col-4 px-0">
                            <button class="checkbox-dropdown btn dropdown-toggle rounded-0 border border-white"
                                type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu col-12 rounded-0">
                                {{> CheckboxFormGroup checkboxName="recordTypes[]" checkboxValue="MC" checkboxId="checkboxMC" checkboxLabel="Medical Certificate"}}
                                {{> CheckboxFormGroup checkboxName="recordTypes[]" checkboxValue="SRF" checkboxId="checkboxSRF" checkboxLabel="Scholastic Record Form"}}
                                {{> CheckboxFormGroup checkboxName="recordTypes[]" checkboxValue="IS" checkboxId="checkboxIS" checkboxLabel="Information Sheet"}}
                                {{> CheckboxFormGroup checkboxName="recordTypes[]" checkboxValue="BEF" checkboxId="checkboxBEF" checkboxLabel="Basic Education Form"}}
                                {{> CheckboxFormGroup checkboxName="recordTypes[]" checkboxValue="SHSF" checkboxId="checkboxSHSF" checkboxLabel="Senior High School Form"}}
                                {{> CheckboxFormGroup checkboxName="recordTypes[]" checkboxValue="RF" checkboxId="checkboxRF" checkboxLabel="Recommendation Form"}}                       
                            </div>
                        </div>
                        <div class="col-4 px-0">
                            <div class="form-button-add text-center rounded-0 border border-white" role="button"
                                tabindex="0">
                                <label for="add_admission_record">Add Admission Record</label>
                                <input class="add-button" type="submit" value="" id="add_admission_record"/>
                            </div>
                        </div>
                    </div>
                </form>
                <div id="data-table" class="data-table container-fluid my-3">
                    {{#each studentRecords}}
                        <div class="row list-div">
                            <div class="col-3 border p-2">
                                <span>{{student_id}}</span>
                            </div>
                            <div class="col-6 border p-2">
                                <span>{{recordId}}</span>
                            </div>
                            <div class="edit-button-div col-3 text-center rounded-0" role="button" tabindex="0">
                                <i class="fa-solid fa-pen"></i>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </section>
        </div>
    </div>


    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <!-- Modal content goes here -->
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalScrollableTitle">Edit Cummulative Record</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
         
            <div class="modal-body">
                <form id="cummulative-form" method="POST" action="/guidance/cummulative">
                <input type="hidden" name="student_id" id="studentIdField">
                <div class="health-record">
                    <p>II. HEALTH RECORD</p>
                    <p>II-a. Grade 7</p>
                    <div class="form-row-cr">
                        <input type="hidden" name="healthRecordGrade7" id="healthRecordGrade7" value="Grade 7">
                        <div class="form-group-cr">
                                <label for="grade7Vision">Vision:</label>
                                <input class= "SH" type="text" id="grade7Vision" name="grade7Vision"  value="">
                            </div>
                            <div class="form-group-cr">
                                <label for="grade7Height">Height:</label>
                                <input class= "SH" type="text" id="grade7Height" name="grade7Height"  value="">
                            </div>
                            <div class="form-group-cr">
                                <label for="grade7Weight">Weight:</label>
                                <input class= "SH" type="text" id="grade7Weight" name="grade7Weight"  value="">
                            </div>
                        </div>
                        <div class="form-group-cr">
                            <label for="grade7SpecialCondition">Special Condition:</label>
                            <input class= "SH long" type="text" id="grade7SpecialCondition" name="grade7SpecialCondition"  value="">
                        </div>
                    <p>II-b. Grade 8</p>
                    <div class="form-row-cr">
                        <input type="hidden" name="healthRecordGrade8" id="healthRecordGrade8" value="Grade 8">
                        <div class="form-group-cr">
                                <label for="grade8Vision">Vision:</label>
                                <input class= "SH" type="text" id="grade8Vision" name="grade8Vision"  value="">
                            </div>
                            <div class="form-group-cr">
                                <label for="grade8Height">Height:</label>
                                <input class= "SH" type="text" id="grade8Height" name="grade8Height"  value="">
                            </div>
                            <div class="form-group-cr">
                                <label for="grade8Weight">Weight:</label>
                                <input class= "SH" type="text" id="grade8Weight" name="grade8Weight"  value="">
                            </div>
                        </div>
                        <div class="form-group-cr">
                            <label for="grade8SpecialCondition">Special Condition:</label>
                            <input class= "SH long" type="text" id="grade8SpecialCondition" name="grade8SpecialCondition"  value="">
                        </div>
                    <p>II-c. Grade 9</p>
                    <div class="form-row-cr">
                        <input type="hidden" name="healthRecordGrade9" id="healthRecordGrade9" value="Grade 9">
                        <div class="form-group-cr">
                                <label for="grade9Vision">Vision:</label>
                                <input class= "SH" type="text" id="grade9Vision" name="grade9Vision"  value="">
                            </div>
                            <div class="form-group-cr">
                                <label for="grade9Height">Height:</label>
                                <input class= "SH" type="text" id="grade9Height" name="grade9Height"  value="">
                            </div>
                            <div class="form-group-cr">
                                <label for="grade9Weight">Weight:</label>
                                <input class= "SH" type="text" id="grade9Weight" name="grade9Weight"  value="">
                            </div>
                        </div>
                        <div class="form-group-cr">
                            <label for="grade9SpecialCondition">Special Condition:</label>
                            <input class= "SH long" type="text" id="grade9SpecialCondition" name="grade9SpecialCondition"  value="">
                        </div>
                    <p>II-d. Grade 10</p>
                    <div class="form-row-cr">
                        <input type="hidden" name="healthRecordGrade10" id="healthRecordGrade10" value="Grade 10">
                        <div class="form-group-cr">
                                <label for="grade10Vision">Vision:</label>
                                <input class= "SH" type="text" id="grade10Vision" name="grade10Vision"  value="">
                            </div>
                            <div class="form-group-cr">
                                <label for="grade10Height">Height:</label>
                                <input class= "SH" type="text" id="grade10Height" name="grade10Height"  value="">
                            </div>
                            <div class="form-group-cr">
                                <label for="grade10Weight">Weight:</label>
                                <input class= "SH" type="text" id="grade10Weight" name="grade10Weight"  value="">
                            </div>
                        </div>
                        <div class="form-group-cr">
                            <label for="grade10SpecialCondition">Special Condition:</label>
                            <input class= "SH long" type="text" id="grade10SpecialCondition" name="grade10SpecialCondition"  value="">
                        </div>
                    <p>II-e. Grade 11</p>
                    <div class="form-row-cr">
                        <input type="hidden" name="healthRecordGrade11" id="healthRecordGrade11" value="Grade 11">
                        <div class="form-group-cr">
                                <label for="grade11Vision">Vision:</label>
                                <input class= "SH" type="text" id="grade11Vision" name="grade11Vision"  value="">
                            </div>
                            <div class="form-group-cr">
                                <label for="grade11Height">Height:</label>
                                <input class= "SH" type="text" id="grade11Height" name="grade11Height"  value="">
                            </div>
                            <div class="form-group-cr">
                                <label for="grade11Weight">Weight:</label>
                                <input class= "SH" type="text" id="grade11Weight" name="grade11Weight"  value="">
                            </div>
                        </div>
                        <div class="form-group-cr">
                            <label for="grade11SpecialCondition">Special Condition:</label>
                            <input class= "SH long" type="text" id="grade11SpecialCondition" name="grade11SpecialCondition"  value="">
                        </div>
                    <p>II-f. Grade 12</p>
                    <div class="form-row-cr">
                        <input type="hidden" name="healthRecordGrade12" id="healthRecordGrade12" value="Grade 12">
                        <div class="form-group-cr">
                                <label for="grade12Vision">Vision:</label>
                                <input class= "SH" type="text" id="grade12Vision" name="grade12Vision"  value="">
                            </div>
                            <div class="form-group-cr">
                                <label for="grade12Height">Height:</label>
                                <input class= "SH" type="text" id="grade12Height" name="grade12Height"  value="">
                            </div>
                            <div class="form-group-cr">
                                <label for="grade12Weight">Weight:</label>
                                <input class= "SH" type="text" id="grade12Weight" name="grade12Weight"  value="">
                            </div>
                        </div>
                        <div class="form-group-cr">
                            <label for="grade12SpecialCondition">Special Condition:</label>
                            <input class= "SH long" type="text" id="grade12SpecialCondition" name="grade12SpecialCondition"  value="">
                        </div>
                </div>
                <div class = "school-history">
                    <p>III. SCHOOL HISTORY</p>
                        <div class="form-row-cr">
                            <div class="form-group-cr">
                                <label for="enteredFrom">Entered from:</label>
                                <input class= "SH" type="text" id="enteredFrom" name="enteredFrom"  value="" required>
                            </div>
                            
                            <div class="form-group-cr">
                                <label for="admittedInSchoolYear">Admitted in Aquinas School SY:</label>
                                <input class= "SH" type="text" id="schoolYearAdmitted" name="schoolYearAdmitted" value="" required>
                            </div>
                        </div>
                        
                        <div class="form-group-cr">
                            <label for="gradeLevelEntered">Grade Level Entered:</label>
                            <input  class= "SH" type="text" id="gradeLevelEntered" name="gradeLevelEntered" value="" required>
                        </div>
                                                
                        <div class="form-group-cr">
                            <label for="otherSchoolAttended">Other School Attended: (Name of School, Grade Level and SY) </label>
                            <input  class= "SH long"type="text" id="otherSchoolsAttended" name="otherSchoolsAttended" value="" required>
                        </div>
                        <!--                        
                        <div class="form-group-cr">
                            <label for="Name">(Name of School, Grade Level and SY)</label>
                            <input class= "SH long"type="text" id="etc" name="Name" required>
                        </div>
                        -->
                </div>






                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <p>This content should appear at the bottom after you scroll.</p>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary btn-yellow">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </form>
        </div>
    </div>



        <!-- Include Bootstrap JS (optional, for dropdown menus) -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/84cb3b7f2b.js" crossorigin="anonymous"></script>




    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var timeout = null;
        document.getElementById('studentId').addEventListener('keyup', function () {
            clearTimeout(timeout);
            timeout = setTimeout(function() {
                var textvalue = document.getElementById('studentId').value;
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/guidance', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onload = function() {
                    if(xhr.status === 200) {
                        if (xhr.status === 200) {
                            var response = JSON.parse(xhr.responseText);
                            var recordIds = response.recordIds;

                            // Update checkboxes
                            var checkboxes = document.querySelectorAll('[name="recordTypes[]"]');
                            checkboxes.forEach(function(checkbox) {
                                if (recordIds.includes(checkbox.value)) {
                                    checkbox.checked = true;
                                    checkbox.classList.add('greyed-out');
                                } else {
                                    checkbox.checked = false;
                                    checkbox.classList.remove('greyed-out');
                                }
                            });
                        }
                    }
                };
                xhr.onerror = function() {
                    console.error('Request Error...');
                };
                xhr.send(JSON.stringify({textData: textvalue}));
            }, 500);
        });
        //FIX THIS
        document.getElementById('studentId-cummilative-anecdotal').addEventListener('keyup', function () {
            clearTimeout(timeout);
            timeout = setTimeout(function() {
                var baseStudentId = document.getElementById('studentId-cummilative-anecdotal').value;
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/guidance/cummulative-get', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        console.log(response);
                        var schoolHistory = response.schoolHistory;
                        var healthRecord = response.healthRecord;
                        document.querySelector('[name="enteredFrom"]').value = schoolHistory.enteredFrom;
                        document.querySelector('[name="schoolYearAdmitted"]').value = schoolHistory.schoolYearAdmitted;
                        document.querySelector('[name="gradeLevelEntered"]').value = schoolHistory.gradeLevelEntered;
                        document.querySelector('[name="otherSchoolsAttended"]').value = schoolHistory.otherSchoolsAttended;
                        document.querySelector('[name="grade7Vision"]').value = healthRecord[3].vision;
                        document.querySelector('[name="grade7Height"]').value = healthRecord[3].height;
                        document.querySelector('[name="grade7Weight"]').value = healthRecord[3].weight;
                        document.querySelector('[name="grade7SpecialCondition"]').value = healthRecord[3].specialCondition;
                        document.querySelector('[name="grade8Vision"]').value = healthRecord[4].vision;
                        document.querySelector('[name="grade8Height"]').value = healthRecord[4].height;
                        document.querySelector('[name="grade8Weight"]').value = healthRecord[4].weight;
                        document.querySelector('[name="grade8SpecialCondition"]').value = healthRecord[4].specialCondition;
                        document.querySelector('[name="grade9Vision"]').value = healthRecord[5].vision;
                        document.querySelector('[name="grade9Height"]').value = healthRecord[5].height;
                        document.querySelector('[name="grade9Weight"]').value = healthRecord[5].weight;
                        document.querySelector('[name="grade9SpecialCondition"]').value = healthRecord[5].specialCondition;
                        document.querySelector('[name="grade10Vision"]').value = healthRecord[0].vision;
                        document.querySelector('[name="grade10Height"]').value = healthRecord[0].height;
                        document.querySelector('[name="grade10Weight"]').value = healthRecord[0].weight;
                        document.querySelector('[name="grade10SpecialCondition"]').value = healthRecord[0].specialCondition;
                        document.querySelector('[name="grade11Vision"]').value = healthRecord[1].vision;
                        document.querySelector('[name="grade11Height"]').value = healthRecord[1].height;
                        document.querySelector('[name="grade11Weight"]').value = healthRecord[1].weight;
                        document.querySelector('[name="grade11SpecialCondition"]').value = healthRecord[1].specialCondition;
                        document.querySelector('[name="grade12Vision"]').value = healthRecord[2].vision;
                        document.querySelector('[name="grade12Height"]').value = healthRecord[2].height;
                        document.querySelector('[name="grade12Weight"]').value = healthRecord[2].weight;
                        document.querySelector('[name="grade12SpecialCondition"]').value = healthRecord[2].specialCondition;
                    } else {
                        console.error('Request failed with status:', xhr.status);
                    }
                };
                xhr.onerror = function() {
                    console.error('Request Error...');
                };
                xhr.send(JSON.stringify({textData: baseStudentId}));
            }, 500);
        });
    });

     document.getElementById('edit_cummulative_record').addEventListener('click', function () {
        event.preventDefault();
        const baseStudentId = document.getElementById('studentId-cummilative-anecdotal').value;
        document.getElementById('studentIdField').value = baseStudentId;
     });
    </script>
        
</body>

</html>